<%= content_for :title, "#{@content_item.title} - Service Manual" %>
<% content_for :meta_description, @content_item.description %>

<% content_for :phase_message do %>
  <%= render 'shared/custom_phase_message', phase: @content_item.phase %>
<% end %>

<%= render 'govuk_component/breadcrumbs', breadcrumbs: @content_item.breadcrumbs %>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="page-header">
      <h1 class="page-header__title"><%= @content_item.title %></h1>
      <p class="page-header__summary">
        <%= @content_item.description %>
      </p>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
      <%= render(
        layout: 'govuk_component/accordion_with_descriptions',
        locals: {
          sections: @content_item.groups,
          js_disabled: !@content_item.visually_collapsed?,
        }
      ) do |section| %>
        <ul class="subsection__list">
          <% section.linked_items.each do |linked_item| %>
            <li class="subsection__list-item">
              <%= link_to linked_item.label, linked_item.href %>
            </li>
          <% end %>
        </ul>
      <% end %>
  </div>

  <div class="column-third">
    <aside class="related">
    <% if @content_item.content_owners.any? %>
      <div class="related-item">
        <h2 class="related-item__title" id="related-communities">
          <%= topic_related_communities_title(@content_item.content_owners) -%>
        </h2>
        <p class="related-item__description">
          Find out what the cross-government community does and how to get involved.
        </p>
        <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
          <ul class="related-item__list">
            <% @content_item.content_owners.each do |content_owner| %>
              <li class="related-item__list-item">
                <%= link_to content_owner.title, content_owner.href %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    <% end %>

    <% if @content_item.email_alert_signup_link.present? %>
      <div class="related-item">
        <h2 class="related-item__title" id="related-subscriptions">
          Get notifications
        </h2>
        <p class="related-item__description">When any guidance within this topic is updated
          <%= link_to "email", @content_item.email_alert_signup_link, class: 'related-item__email-link' %>
        </p>
      </div>
    <% end %>
    </aside>
  </div>

</div>
